doctype html
html
    head
        meta(charset='utf-8')
        link( rel="stylesheet" href='../style/main.css' type="text/css")
    body

        ul
            li
                a(href="pages/main/index.html" target="_blank") Main

